.letter{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    
    border: 5px solid gray;
    margin-block: 2px;
    margin-inline: 2px;
    text-align: center;

    // line-height: 50px;
    font-family:'HelveticaNeue';
    font-size: 30px;
}